<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>WebSocketClient</title>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
</head>
<body>
    <form onsubmit="return false;">
        <!-- 서버로 메시지를 보낼 텍스트 박스 -->
        <select id="command">
            <option>USER_INFO</option>
            <option>JOIN_ROOM</option>
            <option>GAME_START</option>
            <option>BROADCAST_ROOM</option>
        </select><p>
        <textarea id="textMessage" type="text" cols="50" rows="10"></textarea>
        <!-- 전송 버튼 -->
        <input onclick="sendMessage()" value="Send" type="button">
        <!-- 접속 종료 버튼 -->
        <input onclick="disconnect()" value="Disconnect" type="button">
    </form>
    <br />
    <!-- 출력 area -->
    <textarea id="messageTextArea" rows="50" cols="50" style="width:80%;"></textarea>
    <script type="text/javascript">

        $( document).on( "change", "#command", $.proxy( this.onChangeSelect, this ));
        setTimeout( function(){
            $("#command").trigger( "change" );
        }, 100 );


        // 웹 서버를 접속한다.
        var server = "ws://43.201.154.250:8888";
        var webSocket = new WebSocket(server);
        // 웹 서버와의 통신을 주고 받은 결과를 출력할 오브젝트를 가져옵니다.
        var messageTextArea = document.getElementById("messageTextArea");

        // 소켓 접속이 되면 호출되는 함수
        webSocket.onopen = function(message){
            messageTextArea.value += "Server connect...\n";
        };
        // 소켓 접속이 끝나면 호출되는 함수
        webSocket.onclose = function(message){
            messageTextArea.value += "Server Disconnect...\n";
        };
        // 소켓 통신 중에 에러가 발생되면 호출되는 함수
        webSocket.onerror = function(message){
            messageTextArea.value += "error...\n";
        };
        // 소켓 서버로 부터 메시지가 오면 호출되는 함수.
        webSocket.onmessage = function(message){
            // 출력 area에 메시지를 표시한다.
            messageTextArea.value += "[RECV] From Server => "+message.data+"\n";
        };

        // 서버로 메시지를 전송하는 함수
        function sendMessage(){
            var message = document.getElementById("textMessage");
            var command = document.getElementById("command");
            var data = { "command" : command.value, "params" : JSON.parse( message.value ) };
            var sendData = JSON.stringify( data);
            messageTextArea.value += "[SEND] to Server => "+ sendData +"\n";

            //웹소켓으로 textMessage객체의 값을 보낸다.
            webSocket.send( sendData );
            //textMessage객체의 값 초기화
            message.value = "";
        }
        function disconnect(){
            webSocket.close();
        }

        function onChangeSelect( evt ) {

            var elTarget = $(evt.target);
            var selectedValue = elTarget.val();
            console.log("[select] onchage : " + selectedValue );

            if ( selectedValue == 'USER_INFO'){
                var params = { "user_id" : 1, "id" : 'shk' };
                $("#textMessage").val( JSON.stringify( params ) )
            }
            else if ( selectedValue == 'JOIN_ROOM'){
                var params = {};
                $("#textMessage").val( JSON.stringify( params ) )
            }
            else if ( selectedValue == 'BROADCAST_ROOM' ){
                var params = { 'text' : 'hello world' };
                $("#textMessage").val( JSON.stringify( params ) )
            }
        }
    </script>
    </body>
</html>